/* Main Style */

body{
	background: url('../images/background.jpg') no-repeat center bottom;
	background-size: contain;
	padding: 20px 0px 0px;
	line-height: 1.6em;
}
a{
	color: black;
}
a:hover, a:focus {
    color: #1A1915;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	 font-family: 'bodoni_bd_btbold';
	 letter-spacing: 0.1em;
	 margin-bottom: 15px;
	 text-transform: uppercase;
	 margin-top: 14px;
}
h4.page-title {
    color: #C6C6C6;
    font-family: 'open_sansregular';
}
p {
    font-family: 'open_sansregular';
}

/* HEADER */
nav.menu-section {
    background: transparent;
    border: none;
}
a#logo img {
    margin-bottom: 40px;
}
#main-menu{
	 font-family: 'bodoni_bd_btbold';
	 text-transform: uppercase;
	 font-size: 16px;
}
#main-menu>li {
/*     display: inline-block; */
    margin: 0 25px;
    display: inline-table;
}
#main-menu>li.current_page_item a{
	color: #C6C6C6;
}
#main-menu>li>a {
    position: relative;
    /* display: block; */
    padding: 5px 5px 5px 15px;
    /* max-width: 150px; */
    letter-spacing: 10px;
    text-align: center;
    height: 30px;
}
#main-menu>li>a .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
#main-menu>li>a:hover, #main-menu>li>a:focus {
    text-decoration: none;
    background-color: #B3B3B3;
    color: #fff;
    width: auto;
}
#main-menu>.dropdown:hover .dropdown-menu,
#main-menu>.menu-item-has-children:hover .sub-menu {
    display: block;
}
#main-menu>.dropdown:hover,
#main-menu>.menu-item:hover  {
    background: #B3B3B3;
}
#main-menu>.dropdown .dropdown-menu, 
#main-menu>li.menu-item-has-children .sub-menu {
    top: auto;
    left: auto;
    padding: 0;
    margin: 0;
    background: #B3B3B3;
    border: none;
}
.sub-menu, .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
}
#main-menu>.dropdown .dropdown-menu li a,
#main-menu>.menu-item-has-children .sub-menu li a{
    font-family: 'open_sansregular';
    display: block;
    padding: 5px 8px;
    clear: both;
    font-weight: 400;
    line-height: 1.1em;
    color: #000;
    white-space: nowrap;
    font-size: 16px;
    background: #B3B3B3;
}
#main-menu>.dropdown .dropdown-menu li a:hover,
#main-menu>.menu-item-has-children .sub-menu li a:hover{
    color: #fff;
}

#main-menu>.menu-item-has-children:after{
	content: close-quote;
	display: inline-block;
	color: black;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

/* SECTIONS */
section {
    padding: 20px 0px;
}
section .section-header {
    background: #000;
    color: #fff;
    padding: 0px;
    margin-bottom: 10px;
}
section .section-header .icon {
    background: #00A0E3;
    color: #fff;
    padding: 10px;
    margin: 0 10px 0 0px;
    display: inline-block;
}
section#pinterest-section .section-header .icon{
	background: #E31E25;
}
section .section-header h1{
	/* font-family: 'jenna_sueregular'; */
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 28px;
	display: inline-block;
	line-height: 0;
	font-weight: 300;
	text-transform: uppercase;
}
section .section-header .btn-group{
	padding: 12px 5px;
}
section .section-header .btn-group a{
	color: #C0C0C0;
	padding: 0 10px;
	text-decoration: none;
}
section .section-header .btn-group a:hover{
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
}

/* BLOG SECTION */
.grid {
	position: relative;
	margin: 0 auto 0px;
	padding: 0;
	max-width: 1000px;
	list-style: none;
	text-align: center;
	/* clear: both; */
}
.grid.featured-post {
	margin-bottom: 10px;
}

/* Common style */
.grid figure {
	position: relative;
	/* float: left; */
	overflow: hidden;
	background: #000000;
	text-align: center;
	cursor: pointer;
	margin-bottom: 0px;
	margin-top: 0px;
	max-height: 424px;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 120px);
	width: calc(100% + 120px);
	height: calc(100% + 120px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 175px;
}

figure.effect-lily h2,
figure.effect-lily .excerpt {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,50px,0);
	color: #fff;
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily .excerpt {
	color: rgba(255,255,255,1);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img{
	opacity: 0.6;
}

figure.effect-lily:hover .excerpt {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover .excerpt {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover .excerpt {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/*---------------*/
/***** Ju *****/
/*---------------*/

figure.effect-ju img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
/* 	opacity: 0.7; */
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-ju figcaption {
	text-align: left;
}

figure.effect-ju figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1.5em;
	width: 100%;
	height: 100px;
}

figure.effect-ju h2,
figure.effect-ju p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-ju h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	color: rgba(255,255,255,1);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
	font-size: 16px;
}
figure.effect-ju h2 a{	
	color: rgba(255,255,255,1);	
}


figure.effect-ju:hover img{
	opacity: 0.6;
}
figure.effect-ju:hover h2 {
	opacity: 1;
}

figure.effect-ju:hover img,
figure.effect-ju:hover h2,
figure.effect-ju:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ju:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


/* BLOG */
article {
    border-bottom: 3px solid #C6C6C6;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
article .post-content {
    padding: 0 30px;
}
.post-content img{
    max-width: 100%;
}
article .post-content h1 {
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 0.45em;
}
article .post-content a.read-more {
    background: #C6C6C6;
    font-size: 37px;
    padding: 0px;
    line-height: 1;
    width: 37px;
    height: 37px;
    position: relative;
    right: 0;
    bottom: 4px;
    margin: 0 -30px 0px 0px;
}
article .post-content a.read-more:hover {
    color: #fff;
}


/* SIDEBAR */
.widget{
	border-bottom: 3px solid #C6C6C6;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.widget:last-child{
	border-bottom: none;
}
.widget h3.title{
	background: #1C1B17;
	color: #fff;
	padding: 4px 0px;
	margin-bottom: 0px;
	font-family: 'jenna_sueregular';
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 54px;
	text-align: center;
}
.widget ul.tags {
    padding: 20px 10px;
}
.widget ul.tags li{
    list-style: none;
    display: inline-block;
    margin: 4px auto;
}
.widget ul.tags li a{
    background: #D6D6D6;
    padding: 5px 10px;
}
.widget ul.tags li a:hover,
.widget ul.tags li a:active,
.widget ul.tags li a:focus{
	color: #D6D6D6;
	background: #1C1B17;
	padding: 5px 10px;
}


/* PAGES */
.page-content .post-content {
    padding: 0 30px;
}
.page-content .post-content h1 {
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 0.45em;
}
.page-content .post-content a.read-more {
    background: #C6C6C6;
    font-size: 37px;
    padding: 0px;
    line-height: 1;
    width: 37px;
    height: 37px;
    position: relative;
    right: 0;
    bottom: 4px;
    margin: 0 -30px 0px 0px;
}
.page-content .post-content a.read-more:hover {
    color: #fff;
}


/* CONTATO */
.contact-form input,
.contact-form textarea,
.contact-form button {
	font-family: 'jenna_sueregular';
	font-weight: normal;
	letter-spacing: 0em;
	font-size: 36px;
	padding: 0px 16px;
	background: #E5E5E5;
	vertical-align: baseline;
}


/* FOOTER */
footer{
	padding-top: 100px;
}
.social {
    font-size: 30px;
}
.social a{
	margin: 0 22px;
}
p.copyright{
	text-align: center;
	position: relative;
	width: 100%;
	margin-top: 100px;
}
a.backtotop {
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 999;
}
a.backtotop:hover, a.backtotop:focus {
    color: #fff;
    text-decoration: none;
}
a.backtotop span {
    background: silver;
    margin: 0 0 0 -4px;
    width: 60px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
    height: 54px;
}
a.backtotop i {    
    margin: 0;
    font-size: 40px;
}

/* Social links */
.social i.fa.fa-facebook:hover {
    color: #455795;
}
.social i.fa.fa-instagram:hover {
    color: #008DD2;
}
.social i.fa.fa-pinterest:hover {
    color: #E31E25;
}
.social i.fa.fa-twitter:hover {
    color: #6DABDE;
}

/* ADS */
.adblock img{
	margin-bottom: 10px;
	max-width: 100%;
	display: inline;
}
.text-center img.img-resposive{	
	margin: 0 auto;
}